@import "../node_modules/material-ui/src/less/scaffolding.less";
@import "../node_modules/material-ui/src/less/components.less";


.main-container {
  width: 50%;
  float: left;
}


#editor {
  margin: 10px;
  div {
    padding: 10px;
  }
}

#text {
  margin: 10px 0 10px 10px;
  div {
    padding: 10px;
  }
}
